<!DOCTYPE html>
<html>

  <head>
    <title>Update Student Info</title>
  </head>

  <body>
    <form action="/students" method="POST">
      <button type="submit">Update</button>
    </form>
  </body>

</html>
